@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}

body{
  background-color: #0b0b17;
}

.logoimg{
  width: 50%; 
  height: auto;
  float:left;
  display: inline; 
  padding-top: 20px; 
  padding-left: 5%;
}

.wrapper{
  position: relative;
}

.wrapper1{
  position: relative;
}

.wrapper2{
  position: relative;
}

.wrapper3{
  position: relative;
}

.wrapper .title{
  font-weight: 50;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.wrapper1 .title1{
  font-weight: 50;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.wrapper2 .title2{
  font-weight: 50;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.wrapper3 .title3{
  font-weight: 50;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.select_wrap{
  width: auto;
  margin: 15px auto;
  position: relative;
  user-select: none;
}

.select_wrap1{
  width: auto;
  margin: 15px auto;
  position: relative;
  user-select: none;
}

.select_wrap2{
  width: auto;
  margin: 15px auto;
  position: relative;
  user-select: none;
}

.select_wrap3{
  width: auto;
  margin: 15px auto;
  position: relative;
  user-select: none;
}

.select_wrap .default_option{
  background: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.select_wrap1 .default_option1{
  background: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.select_wrap2 .default_option2{
  background: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.select_wrap3 .default_option3{
  background: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.select_wrap .default_option li{
  padding: 10px 20px;
}

.select_wrap1 .default_option1 li{
  padding: 10px 20px;
}

.select_wrap2 .default_option2 li{
  padding: 10px 20px;
}

.select_wrap3 .default_option3 li{
  padding: 10px 20px;
}

.select_wrap .default_option:before{
  content: "";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #ffffff #ffffff;
  transform: rotate(-45deg);
}

.select_wrap1 .default_option1:before{
  content: "";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #ffffff #ffffff;
  transform: rotate(-45deg);
}

.select_wrap2 .default_option2:before{
  content: "";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #ffffff #ffffff;
  transform: rotate(-45deg);
}

.select_wrap3 .default_option3:before{
  content: "";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #ffffff #ffffff;
  transform: rotate(-45deg);
}

.select_wrap .select_ul{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #1b1825;
  border-radius: 5px;
  display: none;
}

.select_wrap1 .select_ul1{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #1b1825;
  border-radius: 5px;
  display: none;
}

.select_wrap2 .select_ul2{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #1b1825;
  border-radius: 5px;
  display: none;
}

.select_wrap3 .select_ul3{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: #1b1825;
  border-radius: 5px;
  display: none;
}

.select_wrap .select_ul li{
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap1 .select_ul1 li{
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap2 .select_ul2 li{
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap3 .select_ul3 li{
  padding: 10px 20px;
  cursor: pointer;
}

.select_wrap .select_ul li:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap1 .select_ul1 li:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap2 .select_ul2 li:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap3 .select_ul3 li:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.select_wrap .select_ul li:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap1 .select_ul1 li:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap2 .select_ul2 li:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap3 .select_ul3 li:last-child:hover{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.select_wrap .select_ul li:hover{
  background: #1b1825;
}

.select_wrap1 .select_ul1 li:hover{
  background: #1b1825;
}

.select_wrap2 .select_ul2 li:hover{
  background: #1b1825;
}

.select_wrap3 .select_ul3 li:hover{
  background: #1b1825;
}

.select_wrap .option{
  display: flex;
  align-items: center;
}

.select_wrap1 .option1{
  display: flex;
  align-items: center;
}

.select_wrap2 .option2{
  display: flex;
  align-items: center;
}

.select_wrap3 .option3{
  display: flex;
  align-items: center;
}

.select_wrap.active .select_ul{
  display: block;
}

.select_wrap1.active .select_ul1{
  display: block;
}

.select_wrap2.active .select_ul2{
  display: block;
}

.select_wrap3.active .select_ul3{
  display: block;
}

.select_wrap.active .default_option:before{
  top: 18px;
  transform: rotate(-225deg);
}

.select_wrap1.active .default_option:before{
  top: 18px;
  transform: rotate(-225deg);
}

.select_wrap2.active .default_option:before{
  top: 18px;
  transform: rotate(-225deg);
}

.select_wrap3.active .default_option:before{
  top: 18px;
  transform: rotate(-225deg);
}

.rowwrap{
  width: 20%;
  height: auto;
  float:left;
}

.btn {
  background-color: #007fff;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  font-size: 16px;
  margin: 15px;
}

.btnplus{
  background-color: #007fff;
  border: none;
  width: 35px;
  height: 35px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 20px 0px 0px;
}

.maindiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv1{
  width: 50%;
  height: 100%;
  padding: 5%;
}

.maindiv2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: -3%;
}

.profdiv{
  width: 450px;
  height: 585px;
  background-image: url('asset/port.jpg');
  border-radius: 25px;
  position: relative;
  text-align: center;
}

.imgico{
  margin: 20px;
  display: table-cell;
  background-image: url("asset/kfc.png");
  background-size: 100% 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.imgico2{
  margin: 20px;
  display: table-cell;
  background-image: url("asset/uber.png");
  background-size: 100% 100%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.imgico3{
  margin: 20px;
  display: table-cell;
  background-image: url("asset/prof1.jpg");
  background-size: 100% 100%;
  border-radius: 50%;
  width:30px;
  height: 30px;
}

.textalignright{
  text-align: right;
}

.textalignleft{
  text-align: left;
}

.backdiv{
  width: 80%;
  height: 250px;
  background-color: #1b1825;
  position: absolute;
  bottom: -10%;
  left:10%;
  border-radius: 25px;
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.mrgbtngroup{
  display: flex; 
  margin: 30px 0px 30px 0px;
}

.btngroup{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.circlebtn{
  background-color: #1b1825;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.circlebtn2{
  background-color: #1b1825;
  border: none;
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 100px;
  
}

.btn2{
  width:80%; 
  background-color: #007fff;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;          
  border-radius: 12px;
  font-size: 16px; 
}

.btn22{
  width:80%; 
  background-color: #1b1825;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;          
  border-radius: 12px;
  font-size: 16px; 
}

.payser{
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-left: 20px;
}

.pricecard{
  height: 20px;
  display: table-cell;
  padding-right: 20px;
  vertical-align: top;
}

.pricecard1{
  display: table-cell; 
  vertical-align: top;
  padding-top: 5px;
}

.servico{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.rowprice{
  width: 100%;
  height:auto;
  display:table-row;
  margin: 0 20px 20px 20px;
}

.alltr{
  width:77%;
  height:100%;
  display: inline-block;
  text-align: left;
  vertical-align: auto;
  margin-left: 10px;
}

.toptr{
  width: 100%;
  height:20%;
  margin-top: 5px; 
  margin-left: 10px;
}